disable_mlock = true
ui = false
api_addr = "{{ platform_transit_vault_api_addr }}"
cluster_addr = "http://{{ platform_transit_vault_cluster_address }}"

listener "tcp" {
  address         = "{{ platform_transit_vault_listen_address }}"
  cluster_address = "{{ platform_transit_vault_cluster_address }}"
  tls_disable     = 1
}

storage "raft" {
  path    = "{{ platform_transit_vault_data_dir }}"
  node_id = "platform-transit"
}
