OPENCLAW_HOST_BRIDGE_ROOT={{ openclaw_host_bridge_root }}
OPENCLAW_HOST_BRIDGE_CONFIG={{ bridge_config_path }}
OPENCLAW_CONFIG_PATH={{ openclaw_config_path }}
OPENCLAW_HOST_BRIDGE_ENV_FILE={{ bridge_env_file_path }}
OPENCLAW_HOST_BRIDGE_RESTART_DELAY_SECONDS={{ openclaw_host_bridge_restart_delay_seconds }}
OPENCLAW_HOST_RECOVERY_RESTART_DELAY_SECONDS={{ openclaw_host_recovery_restart_delay_seconds }}
OPENCLAW_HOST_BRIDGE_NODE_BIN_DIR={{ openclaw_host_bridge_node_bin_dir }}
OPENCLAW_HOST_BRIDGE_PID_PATH={{ bridge_pid_path }}
OPENCLAW_HOST_BRIDGE_LOCK_PATH={{ bridge_lock_path }}
OPENCLAW_HOST_BRIDGE_LOG_PATH={{ bridge_log_path }}
OPENCLAW_WINDOWS_HEALTH_SNAPSHOT={{ openclaw_windows_health_snapshot_path }}
