OPENCLAW_HOST_BRIDGE_ROOT={{ openclaw_host_bridge_root }}
OPENCLAW_HOST_BRIDGE_CONFIG={{ openclaw_host_bridge_config_path }}
OPENCLAW_CONFIG_PATH={{ openclaw_openclaw_config_path }}
OPENCLAW_HOST_BRIDGE_NODE_BIN_DIR={{ openclaw_host_bridge_node_bin_dir }}
