write-kubeconfig-mode: "{{ platform_k3s_write_kubeconfig_mode }}"
cluster-cidr: "{{ platform_k3s_cluster_cidr }}"
service-cidr: "{{ platform_k3s_service_cidr }}"
disable:
{% for component in platform_k3s_disable_components %}
  - "{{ component }}"
{% endfor %}
