write-kubeconfig-mode: "{{ openclaw_k3s_write_kubeconfig_mode }}"
cluster-cidr: "{{ openclaw_k3s_cluster_cidr }}"
service-cidr: "{{ openclaw_k3s_service_cidr }}"
disable:
{% for component in openclaw_k3s_disable_components %}
  - "{{ component }}"
{% endfor %}
